flow.json
[{"id":"47c4991e.b53168","type":"tab","label":"Get from Discord","disabled":false,"info":""},{"id":"de031cf9.5a4e5","type":"tab","label":"Message Write","disabled":false,"info":""},{"id":"d1b7cf99.7731e","type":"tab","label":"Chatbot","disabled":false,"info":""},{"id":"67d372e6.fac32c","type":"tab","label":"NR Healthcheck","disabled":false,"info":""},{"id":"8fa51149.c7269","type":"tab","label":"Tacview File Monitor","disabled":false,"info":""},{"id":"3bd3c8bc.4115c8","type":"tab","label":"DCS Server Version","disabled":false,"info":""},{"id":"efa11bb5.06bbb8","type":"mqtt-broker","z":"","name":"DCS-NodeRed","broker":"nodered.fertle.lan","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f1ffa112.b0217","type":"mqtt-broker","z":"","name":"DCS-NodeRed","broker":"nodered.fertle.lan","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8df9f7f3.9a1f38","type":"mqtt-broker","z":"","name":"DCS-NodeRed","broker":"nodered.fertle.lan","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4ed5b393.a84b4c","type":"mqtt-broker","z":"","name":"DCS-NodeRed","broker":"nodered.fertle.lan","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d2b73bee.91b2f8","type":"ui_group","z":"","name":"Tacview Log File Size","tab":"f9b95acb.bd8008","disp":true,"width":"6","collapse":false},{"id":"f9b95acb.bd8008","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"869d0aad.752e48","type":"mqtt-broker","z":"","name":"DCS-NodeRed","broker":"nodered.fertle.lan","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c5b1bad7.a768f8","type":"discord-token","z":"","name":"AEF Discord"},{"id":"72361a5.eff58e4","type":"mqtt out","z":"47c4991e.b53168","name":"MQTT Publish","topic":"","qos":"2","retain":"","broker":"efa11bb5.06bbb8","x":1080,"y":240,"wires":[]},{"id":"79243846.4f5e08","type":"discordMessage","z":"47c4991e.b53168","name":"AEF Discord","token":"c5b1bad7.a768f8","x":70,"y":220,"wires":[["5ace14a9.865b3c"]]},{"id":"b2e3539a.15877","type":"switch","z":"47c4991e.b53168","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"server 1","vt":"str"},{"t":"cont","v":"server 2","vt":"str"},{"t":"cont","v":"server 3","vt":"str"},{"t":"eq","v":"server status","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":530,"y":240,"wires":[["bc5dd4ef.795818"],["bc5dd4ef.795818"],["bc5dd4ef.795818"],[]]},{"id":"bc5dd4ef.795818","type":"function","z":"47c4991e.b53168","name":"Set Topic and Payload","func":"var split = msg.payload.split(\" \");\nvar server = split[0];\nvar number = split[1];\nvar action = split[2];\nmsg = {topic: server+\"/\"+number,\n       payload: action\n      };\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":240,"wires":[["72361a5.eff58e4","1eb0f9f1.27e4d6"]]},{"id":"5ace14a9.865b3c","type":"switch","z":"47c4991e.b53168","name":"Server-Control","property":"channel.name","propertyType":"msg","rules":[{"t":"eq","v":"server-control","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":340,"y":240,"wires":[["b2e3539a.15877"]]},{"id":"1eb0f9f1.27e4d6","type":"debug","z":"47c4991e.b53168","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":960,"y":80,"wires":[]},{"id":"b78fa5f7.217358","type":"discordSendMessage","z":"de031cf9.5a4e5","name":"Server-Control","channel":"564225091299180554","token":"c5b1bad7.a768f8","x":660,"y":160,"wires":[]},{"id":"c76f933a.a7524","type":"mqtt in","z":"de031cf9.5a4e5","name":"","topic":"server/#","qos":"2","datatype":"auto","broker":"f1ffa112.b0217","x":120,"y":120,"wires":[["1ede3edd.5d8261"]]},{"id":"1ede3edd.5d8261","type":"function","z":"de031cf9.5a4e5","name":"Response Checker","func":"var server= msg.topic.split(\"/\")[1]\n\n    \n    if (msg.payload == \"start_success\"){\n\t\tmsg = {payload: \"Server \"+server+\" has started successfully\"}\n\t\treturn msg;\n\t}\n\t\n\tif (msg.payload == \"start_error\"){\n        msg = {payload: \"There was a problem starting Server \"+server}\n        return msg;\n    }\n\t\n\tif (msg.payload == \"stop_success\"){\n        msg = {payload: \"Server \"+server+\" has been stopped\"}\n        return msg;\n    }\n    \n\tif (msg.payload == \"stop_error\"){\n        msg = {payload: \"There was a problem stopping Server \"+server}\n        return msg;\n    }\n\t\n\tif (msg.payload == \"status_success\"){\n        msg = {payload: \"Server \"+server+\" is Running\"}\n        return msg;\n\t}\n    if (msg.payload == \"status_warning\"){\n        msg = {payload: \"Server \"+server+\" has an issue. PID values exist in the local .csv file, but there are no executables acutally running. We recommend a 'restart' action to resolve. \"}\n        return msg;   \n        \n    }\n    if (msg.payload == \"status_error\"){\n        msg = {payload: \"Couldn't determine the status of Server \"+server}\n        return msg;\n    }\n    if (msg.payload == \"restart_success\"){\n        msg = {payload: \"Server \"+server+\" has been successfully restarted\"}\n        return msg;\n    }\n    ","outputs":1,"noerr":0,"x":330,"y":120,"wires":[["b78fa5f7.217358","dc9fd80a.7f9288"]]},{"id":"dc9fd80a.7f9288","type":"debug","z":"de031cf9.5a4e5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":100,"wires":[]},{"id":"2b89a5d4.64ba7a","type":"link in","z":"de031cf9.5a4e5","name":"","links":["deac96ef.dc8948"],"x":460,"y":320,"wires":[["b78fa5f7.217358"]]},{"id":"9030604c.919a7","type":"discordMessage","z":"d1b7cf99.7731e","name":"Server Admin Channel","token":"c5b1bad7.a768f8","x":140,"y":120,"wires":[["88d2c2a3.a2233","bb953829.b21cf8"]]},{"id":"bb953829.b21cf8","type":"switch","z":"d1b7cf99.7731e","name":"Read Message","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"!srs","vt":"str"},{"t":"eq","v":"!lotatc","vt":"str"},{"t":"eq","v":"!dcs","vt":"str"},{"t":"eq","v":"!!wedgiesCatStatus","vt":"str"},{"t":"eq","v":"!help","vt":"str"},{"t":"eq","v":"!tacview","vt":"str"},{"t":"cont","v":"HAL","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":560,"y":180,"wires":[["7c7db0b0.357cb"],["4c7b37d3.cc73d8"],["811e062a.5e9448"],["4eaee308.48b9ec"],["987d8ab0.019308"],["ef4c3673.4f1ce8"],[]]},{"id":"7c7db0b0.357cb","type":"function","z":"d1b7cf99.7731e","name":"SRS Details","func":"var version = global.get('dcs2-srs-version')\n\nvar message = \"<@\"+msg.author.id+`>\n\nAEF Simple Radio Server Details\n\nCurrent Running Version:`\n\n+version+\n`\\n\nServer 1 : lab.fertle.com:16112\nServer 2 : lab.fertle.com:16122\nServer 3 : dcs.erelis.com.au:16132\n`\nmsg = {payload: message,\n       channel: msg.channel.id\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":770,"y":80,"wires":[["d98aa23c.eb08"]]},{"id":"d98aa23c.eb08","type":"discordSendMessage","z":"d1b7cf99.7731e","name":"Post to Discord","channel":"","token":"c5b1bad7.a768f8","x":1200,"y":160,"wires":[],"info":"Balls"},{"id":"4c7b37d3.cc73d8","type":"function","z":"d1b7cf99.7731e","name":"LotATC Details","func":"var message = \"<@\"+msg.author.id+`>\n\nAEF LotATC Server Details\nServer 1 : lab.fertle.com:16114\nServer 2 : lab.fertle.com:16124\nServer 3 : dcs.erelis.com.au:16134\n\n`\nmsg = {payload: message,\n       channel: msg.channel.id\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":780,"y":120,"wires":[["d98aa23c.eb08"]]},{"id":"811e062a.5e9448","type":"function","z":"d1b7cf99.7731e","name":"General DCS Server Details","func":"var version = global.get('dcs2-dcs-version');\nvar message = \"<@\"+msg.author.id+`>\n\n\n**DCS Server Details**\n\nWe are currently running DCS Open Beta\n\nVersion: `+version +`\n\nInstance 1: lab.fertle.com:16111\n\nInstance 2: lab.fertle.com:16121\n\nInstance 3: dcs.erelis.com.au:16131\n`\nmsg = {payload: message,\n       channel: msg.channel.id\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":160,"wires":[["d98aa23c.eb08"]]},{"id":"4eaee308.48b9ec","type":"function","z":"d1b7cf99.7731e","name":"Cat Status","func":"var message = \"<@\"+msg.author.id+`>\n\n\nCat is currently asleep on the Sofa\n`\nmsg = {payload: message,\n       channel: msg.channel.id\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":199,"wires":[["d98aa23c.eb08"]]},{"id":"987d8ab0.019308","type":"function","z":"d1b7cf99.7731e","name":"Command Summary","func":"var message = \"<@\"+msg.author.id+`>\n\nYou can use the following commands to get information about our servers:\n\n!dcs - DCS server details: addresses and port numbers. \n\n!srs - Simple Radio Standalone details: addresses and port numbers.\n\n!lotatc - LotATC details: addresses and port numbers. \n\n!tacview - TacView details: address and port numbers.\n\n!versions - Show all versions of software on our servers. `\n\nmsg = {payload: message,\n       channel: msg.channel.id\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":239,"wires":[["d98aa23c.eb08"]]},{"id":"ef4c3673.4f1ce8","type":"function","z":"d1b7cf99.7731e","name":"Tacview Summary","func":"var version = global.get('dcs2-tacview-version')\nvar message = \"<@\"+msg.author.id+`>\n\nWe run Tacview on our server, please note there is a 5 minute delay on the recording in order to discourage cheating. \n\nWe are currently running version `+version+\n`\\n\nServer 1 : lab.fertle.com: 16115\nServer 2 : lab.fertle.com: 16125\nServer 3 : dcs.erelis.com.au:16135\n\n\n`\nmsg = {payload: message,\n       channel: msg.channel.id\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":279,"wires":[["d98aa23c.eb08"]]},{"id":"360be283.3ec00e","type":"function","z":"d1b7cf99.7731e","name":"HAL","func":"var version = flow.get('tacviewversion')\nvar message = \"<@\"+msg.author.id+`>\n\nI'm sorry Dave, but I'm afraid I can't do that...\n\n`\nmsg = {payload: message}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":770,"y":380,"wires":[["ebc92474.999268"]]},{"id":"88d2c2a3.a2233","type":"switch","z":"d1b7cf99.7731e","name":"Check Channel","property":"channel.name","propertyType":"msg","rules":[{"t":"eq","v":"server-control","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":380,"y":380,"wires":[["595923cf.a7601c"]],"info":"Checks for messages on the \n\n#pub-server-support channel."},{"id":"595923cf.a7601c","type":"switch","z":"d1b7cf99.7731e","name":"Read Message","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"HAL","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":580,"y":380,"wires":[["360be283.3ec00e"]]},{"id":"ebc92474.999268","type":"discordSendMessage","z":"d1b7cf99.7731e","name":"Post to Discord","channel":"564225091299180554","token":"c5b1bad7.a768f8","x":1200,"y":380,"wires":[],"info":"Balls"},{"id":"f99b97b.0435a68","type":"debug","z":"d1b7cf99.7731e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":160,"y":260,"wires":[]},{"id":"775736b2.0828b8","type":"mqtt in","z":"67d372e6.fac32c","name":"Listen","topic":"server/#","qos":"2","datatype":"auto","broker":"8df9f7f3.9a1f38","x":90,"y":100,"wires":[["4df4371.b8c35c8"]]},{"id":"4df4371.b8c35c8","type":"switch","z":"67d372e6.fac32c","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"server/1","vt":"str"},{"t":"eq","v":"server/2","vt":"str"},{"t":"eq","v":"server/3","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":240,"y":100,"wires":[["8ba9cbf0.b76618"],["c32aa698.f5a858"],["a5d0f5db.01a888"]]},{"id":"8ba9cbf0.b76618","type":"timeout","z":"67d372e6.fac32c","name":"DCS Instance NR Health ","outtopic":"Server 1","outsafe":"Safe","outwarning":"Warning","outunsafe":"Error","warning":"330","timer":"600","repeat":false,"again":false,"x":500,"y":60,"wires":[["ff1e9201.7ace3"]]},{"id":"c32aa698.f5a858","type":"timeout","z":"67d372e6.fac32c","name":"DCS Instance NR Health ","outtopic":"Server 2","outsafe":"Safe","outwarning":"Warning","outunsafe":"Unsafe","warning":"330","timer":"600","repeat":false,"again":false,"x":500,"y":120,"wires":[["ff1e9201.7ace3"]]},{"id":"a5d0f5db.01a888","type":"timeout","z":"67d372e6.fac32c","name":"DCS Instance NR Health ","outtopic":"Server 3","outsafe":"Safe","outwarning":"Warning","outunsafe":"Unsafe","warning":"350","timer":"600","repeat":false,"again":false,"x":500,"y":180,"wires":[[]]},{"id":"5a72ee79.b6a9e","type":"discordSendMessage","z":"67d372e6.fac32c","name":"Server-Control","channel":"564225091299180554","token":"","x":1020,"y":120,"wires":[]},{"id":"ff1e9201.7ace3","type":"function","z":"67d372e6.fac32c","name":"Response Checker","func":"var server= msg.topic.split(\" \")[1]\n\n    \n    if (msg.payload == \"Warning\"){\n        msg = {payload: \"Looks like Node Red on Server \"+server+\" has an issue.\"}\n        return msg;\n    }\n    if (msg.payload == \"Error\"){\n        msg = {payload: \"@here Node Red on Server \"+server+\" is not running, please investigate.\"}\n        return msg;\n    }\n     if (msg.payload == \"Safe\"){\n        msg = {payload: \"Node Red on Server \"+server+\" is up and running.\"}\n        return msg;\n    }","outputs":1,"noerr":0,"x":770,"y":120,"wires":[[]]},{"id":"5e72a7ba.1876f8","type":"mqtt in","z":"8fa51149.c7269","name":"","topic":"server/+/tacview","qos":"2","datatype":"auto","broker":"4ed5b393.a84b4c","x":120,"y":160,"wires":[["3cd49702.c1a4a8","929673c1.38e97"]]},{"id":"3cd49702.c1a4a8","type":"function","z":"8fa51149.c7269","name":"Response Checker","func":"var server= msg.topic.split(\"/\")[1]\n\nmsg = {payload: \"Server \"+server+\" has tacview recordings which are \"+msg.payload+\"Mb in size\"}\nreturn msg;\n    \n    ","outputs":1,"noerr":0,"x":310,"y":120,"wires":[["4e276259.b4a00c"]]},{"id":"4e276259.b4a00c","type":"link out","z":"8fa51149.c7269","name":"Write to Discord","links":["c6d6e370.7502e"],"x":495,"y":80,"wires":[]},{"id":"929673c1.38e97","type":"function","z":"8fa51149.c7269","name":"String to Number","func":"var number = parseFloat(msg.payload)\n\nmsg = {payload: number}\n\nreturn msg\n    \n    ","outputs":1,"noerr":0,"x":310,"y":200,"wires":[["8fdd14a7.48f968","f5a4e7d1.e97778"]]},{"id":"8fdd14a7.48f968","type":"debug","z":"8fa51149.c7269","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":400,"wires":[]},{"id":"f5a4e7d1.e97778","type":"ui_level","z":"8fa51149.c7269","group":"d2b73bee.91b2f8","order":0,"width":0,"height":0,"name":"","label":"","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"250","segWarn":"","segHigh":"","unit":"MB","layout":"sh","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":2,"colorschema":"fixed","x":530,"y":200,"wires":[]},{"id":"9c193988.c672d8","type":"mqtt in","z":"3bd3c8bc.4115c8","name":"","topic":"server/#","qos":"2","datatype":"auto","broker":"869d0aad.752e48","x":120,"y":100,"wires":[["258d35ff.88c6ba"]]},{"id":"258d35ff.88c6ba","type":"json","z":"3bd3c8bc.4115c8","name":"","property":"payload","action":"","pretty":false,"x":270,"y":100,"wires":[["f775749d.cad2d8","f4952469.1a5148","df5e926c.6de37"]]},{"id":"f775749d.cad2d8","type":"switch","z":"3bd3c8bc.4115c8","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"server/2/versions","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":100,"wires":[["376743cc.07708c"]]},{"id":"376743cc.07708c","type":"function","z":"3bd3c8bc.4115c8","name":"Set Var","func":"if (msg.payload.dcs){\n    \n    global.set(\"dcs2-dcs-version\", msg.payload.dcs);\n}\n\n","outputs":1,"noerr":0,"x":580,"y":100,"wires":[[]]},{"id":"f4952469.1a5148","type":"switch","z":"3bd3c8bc.4115c8","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"server/2/versions","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":160,"wires":[["1ded63bd.20de4c"]]},{"id":"1ded63bd.20de4c","type":"function","z":"3bd3c8bc.4115c8","name":"tacview","func":"if (msg.payload.tacview){\n    \n    global.set(\"dcs2-tacview-version\", msg.payload.tacview);\n}\n\n","outputs":1,"noerr":0,"x":580,"y":160,"wires":[[]]},{"id":"df5e926c.6de37","type":"switch","z":"3bd3c8bc.4115c8","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"server/2/versions","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":220,"wires":[["1ad4a9b1.b39d66"]]},{"id":"1ad4a9b1.b39d66","type":"function","z":"3bd3c8bc.4115c8","name":"srs","func":"if (msg.payload.srs){\n    \n    global.set(\"dcs2-srs-version\", msg.payload.srs);\n}\n\n","outputs":1,"noerr":0,"x":570,"y":220,"wires":[[]]}]