flow.json
[{"id":"47c4991e.b53168","type":"tab","label":"Get Messages from Discord","disabled":false,"info":""},{"id":"efa11bb5.06bbb8","type":"mqtt-broker","z":"","name":"DCS-NodeRed","broker":"nodered.fertle.lan","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"72361a5.eff58e4","type":"mqtt out","z":"47c4991e.b53168","name":"MQTT Publish","topic":"","qos":"2","retain":"","broker":"efa11bb5.06bbb8","x":1080,"y":240,"wires":[]},{"id":"79243846.4f5e08","type":"discordMessage","z":"47c4991e.b53168","name":"AEF Discord","token":"","x":70,"y":220,"wires":[["5ace14a9.865b3c"]]},{"id":"b2e3539a.15877","type":"switch","z":"47c4991e.b53168","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"server 1","vt":"str"},{"t":"cont","v":"server 2","vt":"str"},{"t":"cont","v":"server 3","vt":"str"},{"t":"eq","v":"server status","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":530,"y":240,"wires":[["bc5dd4ef.795818"],["bc5dd4ef.795818"],["bc5dd4ef.795818"],[]]},{"id":"bc5dd4ef.795818","type":"function","z":"47c4991e.b53168","name":"Set Topic and Payload","func":"var split = msg.payload.split(\" \");\nvar server = split[0];\nvar number = split[1];\nvar action = split[2];\nmsg = {topic: server+\"/\"+number,\n       payload: action\n      };\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":240,"wires":[["72361a5.eff58e4","1eb0f9f1.27e4d6"]]},{"id":"5ace14a9.865b3c","type":"switch","z":"47c4991e.b53168","name":"Server-Control","property":"channel.name","propertyType":"msg","rules":[{"t":"eq","v":"server-control","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":340,"y":240,"wires":[["b2e3539a.15877"]]},{"id":"1eb0f9f1.27e4d6","type":"debug","z":"47c4991e.b53168","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":960,"y":80,"wires":[]}]